<h1>{{title}}</h1>
<h2>Trending Subjects</h2>
<nav>
  <ul>
    <li><a routerLink="/java" routerLinkActive="active" ariaCurrentWhenActive="page" >Java</a></li>
    <li><a routerLink="/java-script" routerLinkActive="active" ariaCurrentWhenActive="page">JavaScript</a></li>
    <li><a routerLink="/machine-learning" routerLinkActive="active" ariaCurrentWhenActive="page">Machine Learning</a></li>
    <li><a routerLink="/oops" routerLinkActive="active" ariaCurrentWhenActive="page">OOPS</a></li>
    <li><a routerLink="/python" routerLinkActive="active" ariaCurrentWhenActive="page">Python</a></li>
  </ul>
</nav>
<div id="box">
<form (submit)="onSubmit()"  action="#" method="get">
<input [(ngModel)]="searchTerm" type=search name=s placeholder="Enter any book or subject">
<button id="one" type="submit"> Search</button>
<button id="two" (click)="goBack()"> Back</button>

<br>
<br>
<router-outlet></router-outlet>
</form>
</div>





